html {
  font-size: 14px;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 700px) {
  html {
    font-size: 18px;
  }
}

@tailwind base;

@tailwind components;

@tailwind utilities;
